{% load static %}
<section id="education" data-aos="fade-right">
  <div class="container">
    <h2>Education</h2>

    <div class="timeline">

      <!-- MCA -->
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <div class="edu-header">
            <img src="{% static 'institutes/gri_logo.png' %}" alt="GRI Logo" class="edu-logo">
            <h3 class="fw-bold">Master of Computer Applications (MCA)</h3>
          </div>
          <p><strong>Institute:</strong> The Gandhigram Rural Institute, Gandhigram</p>
          <p><strong>Duration:</strong> Aug 2023 – May 2025</p>
          <p><strong>CGPA:</strong> 8.4 / 10</p>
        </div>
      </div>

      <!-- BSc -->
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <div class="edu-header">
            <img src="{% static 'institutes/aagac_logo.jpg' %}" alt="AAGAC Logo" class="edu-logo">
            <h3 class="fw-bold">Bachelor of Science in Mathematics</h3>
          </div>
          <p><strong>Institute:</strong> Arignar Anna Govt. Arts College, Cheyyar</p>
          <p><strong>Duration:</strong> Aug 2020 – May 2023</p>
          <p><strong>CGPA:</strong> 8.1 / 10</p>
        </div>
      </div>

    </div>
  </div>
</section>
